vitis_hls/axi_dump/proj
vitis_hls/constant_config_writer/proj
vitis_hls/passer_config_writer/proj
vitis_hls/passer_double_rate/proj
vitis_hls/phase_c_dr/proj
vitis_hls/saturate_stream_dr/proj

vitis_hls/axi_dump/vitis_hls.log
vitis_hls/constant_config_writer/vitis_hls.log
vitis_hls/passer_config_writer/vitis_hls.log
vitis_hls/passer_double_rate/vitis_hls.log
vitis_hls/phase_c_dr/vitis_hls.log
vitis_hls/saturate_stream_dr/vitis_hls.log

vivado/base
vivado/test