fixed_pc/vitis_hls/axi_dump/proj
fixed_pc/vitis_hls/constant_config_writer/proj
fixed_pc/vitis_hls/passer_config_writer/proj
fixed_pc/vitis_hls/passer_128_last/proj
fixed_pc/vitis_hls/passer_32/proj
fixed_pc/vitis_hls/passer_double_rate/proj
fixed_pc/vitis_hls/phase_c_dr/proj
fixed_pc/vitis_hls/saturate_stream_dr/proj
fixed_pc/vitis_hls/old

fixed_pc/vitis_hls/axi_dump/vitis_hls.log
fixed_pc/vitis_hls/constant_config_writer/vitis_hls.log
fixed_pc/vitis_hls/passer_config_writer/vitis_hls.log
fixed_pc/vitis_hls/passer_128_last/vitis_hls.log
fixed_pc/vitis_hls/passer_32/vitis_hls.log
fixed_pc/vitis_hls/passer_double_rate/vitis_hls.log
fixed_pc/vitis_hls/phase_c_dr/vitis_hls.log
fixed_pc/vitis_hls/saturate_stream_dr/vitis_hls.log

fixed_pc/vitis_hls/phase_c_dr/test_scripts/input.txt
fixed_pc/vitis_hls/phase_c_dr/test_scripts/output.txt

fixed_pc/vivado/base
fixed_pc/vivado/test


adjustable_pc_2ch/vitis_hls/axi_dump/proj
adjustable_pc_2ch/vitis_hls/constant_config_writer/proj
adjustable_pc_2ch/vitis_hls/passer_config_writer/proj
adjustable_pc_2ch/vitis_hls/passer_128_last/proj
adjustable_pc_2ch/vitis_hls/passer_32/proj
adjustable_pc_2ch/vitis_hls/passer_32_double/proj
adjustable_pc_2ch/vitis_hls/passer_double_rate/proj
adjustable_pc_2ch/vitis_hls/phase_c_dr/dma_passer
adjustable_pc_2ch/vitis_hls/phase_c_dr/dma_writer
adjustable_pc_2ch/vitis_hls/phase_c_dr/hilbert_transform
adjustable_pc_2ch/vitis_hls/phase_c_dr/iq_to_hilbert
adjustable_pc_2ch/vitis_hls/phase_c_dr/measure_worker
adjustable_pc_2ch/vitis_hls/phase_c_dr/trigger_worker
adjustable_pc_2ch/vitis_hls/phase_c_dr/pc_averager
adjustable_pc_2ch/vitis_hls/phase_c_dr/pc_dr
adjustable_pc_2ch/vitis_hls/saturate_stream_dr/proj
adjustable_pc_2ch/vitis_hls/old

adjustable_pc_2ch/vitis_hls/axi_dump/vitis_hls.log
adjustable_pc_2ch/vitis_hls/constant_config_writer/vitis_hls.log
adjustable_pc_2ch/vitis_hls/passer_config_writer/vitis_hls.log
adjustable_pc_2ch/vitis_hls/passer_128_last/vitis_hls.log
adjustable_pc_2ch/vitis_hls/passer_32/vitis_hls.log
adjustable_pc_2ch/vitis_hls/passer_double_rate/vitis_hls.log
adjustable_pc_2ch/vitis_hls/phase_c_dr/vitis_hls.log
adjustable_pc_2ch/vitis_hls/saturate_stream_dr/vitis_hls.log

adjustable_pc_2ch/vitis_hls/phase_c_dr/test_scripts/input.txt
adjustable_pc_2ch/vitis_hls/phase_c_dr/test_scripts/output.txt

adjustable_pc_2ch/vivado/adj


adjustable_pc_1ch/vitis_hls/axi_dump/proj
adjustable_pc_1ch/vitis_hls/constant_config_writer/proj
adjustable_pc_1ch/vitis_hls/passer_config_writer/proj
adjustable_pc_1ch/vitis_hls/passer_128_last/proj
adjustable_pc_1ch/vitis_hls/passer_32/proj
adjustable_pc_1ch/vitis_hls/passer_double_rate/proj
adjustable_pc_1ch/vitis_hls/phase_c_dr/dma_passer
adjustable_pc_1ch/vitis_hls/phase_c_dr/dma_writer
adjustable_pc_1ch/vitis_hls/phase_c_dr/hilbert_transform
adjustable_pc_1ch/vitis_hls/phase_c_dr/trigger_worker
adjustable_pc_1ch/vitis_hls/phase_c_dr/measure_worker
adjustable_pc_1ch/vitis_hls/phase_c_dr/pc_averager
adjustable_pc_1ch/vitis_hls/phase_c_dr/pc_dr
adjustable_pc_1ch/vitis_hls/saturate_stream_dr/proj
adjustable_pc_1ch/vitis_hls/old

adjustable_pc_1ch/vitis_hls/axi_dump/vitis_hls.log
adjustable_pc_1ch/vitis_hls/constant_config_writer/vitis_hls.log
adjustable_pc_1ch/vitis_hls/passer_config_writer/vitis_hls.log
adjustable_pc_1ch/vitis_hls/passer_128_last/vitis_hls.log
adjustable_pc_1ch/vitis_hls/passer_32/vitis_hls.log
adjustable_pc_1ch/vitis_hls/passer_double_rate/vitis_hls.log
adjustable_pc_1ch/vitis_hls/phase_c_dr/vitis_hls.log
adjustable_pc_1ch/vitis_hls/saturate_stream_dr/vitis_hls.log

adjustable_pc_1ch/vitis_hls/phase_c_dr/test_scripts/input.txt
adjustable_pc_1ch/vitis_hls/phase_c_dr/test_scripts/output.txt

adjustable_pc_1ch/vivado/adj